@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./common/variable.scss";
@import "./theme.scss";

body {
  font-family: "DIN Alternate", sans-serif;
  font-size: 16px;
  background-color: $background-color;
}
